#container {
  width: 100%;
  height: 100%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

@media (max-width: 900px) {
  #innerContainer {
    width: 40%;
    height: 50%;
    margin: 10% 5%;
    display: block;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border-radius: 20px; */
  }
}

@media (max-width: 1024px) {
  #innerContainer {
    width: 90%;
    height: 50%;
    margin: 10% 5%;
    display: block;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* border-radius: 20px; */
  }

  #left {
    width: 100%;
    height: 100%;
    /* background-color: blue; */
    text-align: center;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #ccc; */
    border-radius: 20px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    background-color: rgb(28, 58, 230);
    padding: 10px 0px;
    color: rgb(241, 241, 184);
  }

  .circle_ring {
    width: 200px;
    height: 200px;
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid #ccc; */
    border-radius: 100px;
    margin-bottom: 20px;
    background-color: rgb(49, 49, 204);
  }

  .percentage {
    text-align: center;
    justify-content: center;
    font-size: 84px;
    color: aliceblue;
  }

  #right {
    width: 90%;
    height: 100%;
    padding: 10px 0;
    background-color: white;
    /* border: 0 solid #ccc; */
    /* border-radius: 20px; */
  }

  .list_con {
    justify-content: center;
  }

  .sumlist {
    width: 100%;
    height: 45px;
    /*border: 1px solid #ccc;*/
    border-radius: 10px;
    /* padding: 0 5px; */
    margin: 15px 0;
    list-style: none;
  }

  .items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }

  .left_items {
    display: flex;
    flex-direction: row;
  }
  .right_items {
    padding: 0 5px;
  }

  .images {
    display: flex;
    align-items: center;
    padding: 0 5px;
  }

  .per {
    font-weight: 900;
    padding: 0 3px;
  }

  #btn {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 40px;
    list-style: none;
    text-align: center;
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  #innerContainer {
    width: 40%;
    height: 50%;
    margin: 10% 30%;
    display: flex;
    flex-direction: row;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
  }

  #left {
    width: 40%;
    height: 100%;
    /* background-color: blue; */
    text-align: center;
    justify-content: center;
    align-items: center;
    /* border: 2px solid #ccc; */
    border-radius: 20px;
    background-color: rgb(28, 58, 230);
    padding: 10px 20px;
    color: rgb(241, 241, 184);
  }

  .circle_ring {
    width: 200px;
    height: 200px;
    justify-content: center;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    /* border: 1px solid #ccc; */
    border-radius: 100px;
    margin-bottom: 20px;
    background-color: rgb(49, 49, 204);
  }

  .percentage {
    text-align: center;
    justify-content: center;
    font-size: 84px;
    color: aliceblue;
  }

  #right {
    width: 40%;
    background-color: white;
    /* border: 0 solid #ccc; */
    /* border-radius: 20px; */
  }

  .sumlist {
    width: 100%;
    height: 45px;
    /*border: 1px solid #ccc;*/
    border-radius: 10px;
    padding: 0 20px;
    margin: 15px 0;
    list-style: none;
  }

  .items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
  }

  .left_items {
    display: flex;
    flex-direction: row;
  }

  .images {
    display: flex;
    align-items: center;
    padding: 0 5px;
  }

  .per {
    font-weight: 900;
    padding: 0 3px;
  }

  #btn {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 40px;
    padding: 0 20px;
    list-style: none;
    text-align: center;
    font-size: 18px;
  }
}
